<!-- <mat-nav-list>
    <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
      <span matListItemTitle>Google Keep</span>
      <span matLine>Add to a note</span>
    </a>
  
    <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
      <span matListItemTitle>Google Docs</span>
      <span matLine>Embed in a document</span>
    </a>
  
    <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
      <span matListItemTitle>Google Plus</span>
      <span matLine>Share with your friends</span>
    </a>
  
    <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
      <span matListItemTitle>Google Hangouts</span>
      <span matLine>Show to your coworkers</span>
    </a>
  </mat-nav-list> -->

<div class="container">

  <h1>Registration form </h1>

  <!-- <div class="form"> -->

  <form action="">

    <table>
      <tbody>

        <tr>
          <td> <label for="fname"> First Name</label> </td>
          <td> <input type="text" placeholder="Only firstname"> </td>
        </tr>

        <tr>
          <td><label> Last Name</label> </td>
          <td><input type="text" placeholder=""> </td>
        </tr>

        <tr>
          <td><label> Contact Number </label>
          <td> <input type="tel" placeholder=""> </td>
        </tr>

        <tr>

          <td> <label> Email</label> </td>
          <td><input type="email" placeholder="abc@gmail.com "> </td>
        </tr>

        <tr>
          <td> <label> Password</label> </td>
          <td> <input type="password" placeholder=""> </td>
        </tr>

        <tr>
          <td> <label> Country</label> </td>
          <td> <input type="text" placeholder="India"> </td>
        </tr>

        <tr>
          <td><label> Do you have bank account</label> </td>
          <td> <input type="text" placeholder="yes"> </td>
        </tr>

        <tr>
          <td> <label> Date of Birth</label> </td>
          <td> <input type="date" placeholder=""> </td>
        </tr>

        <tr>
          <td> <label> Available in week</label> </td>
          <td> <input type="week" placeholder="yes"> </td>
        </tr>

        <tr>
          <td> <label> Preferred Time</label> </td>
          <td> <input type="time" placeholder=""> </td>
        </tr>

        <tr>
          <td> <label> Select profile photo</label> </td>
          <td> <input type="file" placeholder=""> </td>

        </tr>

        <tr>
          <td> <label> Select certificate</label> </td>
          <td> <input type="file" placeholder=""> </td>
        </tr>

        <tr>
          <td> <label> Select gradution</label> </td>
          <td> <select>
              <option value="BE">BE</option>
              <option value="BTch">BTch</option>
              <option value="Mtch"> Mtch</option>
            </select> </td>
        </tr>

        <tr>
          <td> <label> Select gender</label> </td>
          <td> <label> Male</label> &nbsp;
            <input type="radio" name="gender"> &nbsp;
            <label> Female</label> &nbsp;
            <input type="radio" name="gender">
          </td>

        </tr>

        <tr>
          <td> <label> Select Traning skill</label> </td>
          <td> <label> Angular</label> &nbsp;
            <input type="checkbox"> &nbsp;

            <label> Javascript</label> &nbsp;
            <input type="checkbox"> &nbsp;

            <label> Typescript</label> &nbsp;
            <input type="checkbox"> &nbsp;

            <label> HTML</label> &nbsp;
            <input type="checkbox"> &nbsp;

            <label> CSS</label> &nbsp;
            <input type="checkbox"> &nbsp;
          </td>

        </tr>

        <tr>
          <td><label> Address</label> </td>
          <td> <textarea cols="total_columns" rows="total_rows"> </textarea>
          </td>
        </tr>

        <tr>
          <td> <button> Submit</button> </td>
          <td> <button> Reset</button></td>
        </tr>
      </tbody>

    </table>

  </form>
  <!-- </div> -->

</div>