.seller{
    width: 70%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    margin: 70px;
}
.sign-up{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    text-align: center;
    margin-left: 500px;
    color: #a15ce5;
}
.form{
    display: flex;
    flex-direction: column;
    width: 150%;
    height: 600px;
    padding: 20px;
}
.buttons{
    background: linear-gradient( to top right, #0dcaf0 10%, #a15ce5 50%, #a15ce5 50%, #e54a8a 100%);
  font-family: bold;
  font-size: larger;
  border: none;
  border-radius: 30px;
  padding: 10px  12px;
  color: white;
  margin: 20px 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  margin-left: 600px;
}

.field{
    margin-left: 30px;
    background-color: transparent;
}

p{
    color: rgb(64, 126, 64);
    font-size: 20px;
}

button {
    margin-right: 8px;
  }

  .contaner{

    width:100%;
    height:800px;
    /* background-color: red; */
  }